<template>
  <div class="about">
    <h1>Su correo {{this.authUser.email}}</h1>
    <h1>Ahora el componente de cargar imagenes tentativo...</h1>
  </div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  data () {
    return {
      authUser: {},
    }
  },created () {
    // Fill the form with user data.
    //this.$store.dispatch('fetchUser')

    this.authUser = this.user
  },

   beforeUpdate () {
  },
computed:  mapGetters({
    user: 'authUser'
  }),
}
</script>