<template>
    <v-app >
    <v-content>
      <v-container
        fluid
        fill-height
      >
        <v-layout
          align-center
          justify-center
        >
          <v-flex
            xs12
            sm8
            md3
          >        
              <div class="text-center">
                <v-progress-circular
                :size="50"
                color="primary"
                indeterminate
                ></v-progress-circular>
              <h2>Verificando...</h2>
              </div>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>
<script>
import axios from 'axios';
export default {
  mounted() {
    const params = this.$route.query
    axios.get(process.env.VUE_APP_API_ENDPOINT + 'api/auth/google/callback', {params}).then((res) => {
         // Save the token.
      this.$store.dispatch('saveToken', {
        token: res.data.data.token,
        remember: false
      })

     this.$store.dispatch('fetchUser')

        // Redirect home.
      this.$router.push({ name: 'home' })
    })
  }
}
</script>