<template>
 <div >
  <v-app >
    <v-content>
      <v-container
        fluid
        fill-height
      >
        <v-layout
          align-center
          justify-center
        >
          <v-flex
            xs12
            sm8
            md3
          >
            <v-card class="elevation-12">
            
              <v-card-text>
                <v-form @submit.prevent="submit">
                    <v-alert v-if="alert" :type="alert.type" value="true">{{alert.message}}</v-alert>
                  <v-text-field
                    label="Correo"
                    name="login"
                    type="text"
                    prepend-icon="mdi-mail"
                  ></v-text-field>

                  <v-text-field
                    id="password"
                    label="Contraseña"
                    name="password"
                    type="password"
                    prepend-icon="mdi-lock"
                  ></v-text-field>
                   <v-layout   align-content-space-around justify-space-between>
                             
                        </v-layout>
                </v-form>
               
              </v-card-text>
              <v-card-actions>
                <v-btn  color="blue white--text" v-if="google_ready" @click="google_submit" :loading="google_loading" :disabled="google_loading || fb_loading">
                                ingresar
                                </v-btn>
                <v-spacer></v-spacer>
                         <v-btn  color="red white--text" v-if="google_ready" @click="google_submit" :loading="google_loading" :disabled="google_loading || fb_loading">
                                    <v-icon>mdi-google</v-icon>
                                </v-btn>
                                <v-btn   color="blue white--text" v-if="google_ready" @click="fb_submit" :loading="fb_loading" :disabled="fb_loading || google_loading">
                                   <v-icon>mdi-facebook</v-icon>
                                </v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</div>
</template>

<script>
import axios from 'axios';

export default {
  layout: 'fullscreen',
  data () {
    return {
      email: '',
      password: '',
      alert: null,
      loading: false,
      google_loading: false,
      fb_loading: false,
      google_ready: true
    }
  },
  methods: {
    submit () {
      this.alert = null
      this.loading = true
      this.$store.dispatch('auth/login', {
        email: this.email,
        password: this.password
      }).then(result => {
        console.log('result', result)
        this.alert = {type: 'success', message: result.data.message}
        this.loading = false
        this.$router.push('/admin')
      }).catch(error => {
        this.loading = false
        if (error.response && error.response.data) {
          this.alert = {type: 'error', message: error.response.data.message || error.response.status}
        }
      })
    },
    fb_submit() {},
    google_submit () {
      if (!this.google_ready) return
      this.alert = null
      this.google_loading = true
      window.open(process.env.VUE_APP_API_ENDPOINT + 'api/auth/google/');
    }
  }
}
</script>